*{
    color: grey;
}
body {

    margin: 0;
    padding: 0;
  }
p{
    text-align: center;
}
h1{
    text-align: center;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  

  #map {
    width: 400px;
    height: 400px;
  }
  