:root{
  --mint:#00BF6F;
  --black:#000000;
  --white:#ffffff;
}
*{
    color: rgb(0, 0, 0);
}

@font-face {
  font-family: helvetica;
  src: url(fonts/HelveticaNeue.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: helvetica;
  src: url(fonts/HelveticaNeue\ Medium.ttf);
  font-weight: medium;
}

body {
  font-family: helvetica;
  margin: 0;
  padding: 0;
  }
/* start for nav bar*/
.logo{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 4;
}
.navbar{
  overflow:hidden;
  z-index: 4;
  background-color: var(--white);
  border-radius: 100px;
}

.navbar a{
  float:right;
  display:block;
  text-align:center;
  padding:14px;
  text-decoration:none;
  z-index: 4;
}

.navbar ul{
  margin:6px;
  list-style:none;
  z-index: 4;
}
.side-nav{
  height:65%;
  width:0;
  position:fixed;
  z-index:4;
  top:0;
  right:0;
  background-color:rgb(255, 255, 255);
  opacity:1;
  overflow-x:hidden;
  transition:0.5s;

}
.open-slide{
  z-index: 4;
}
.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  z-index: 4;
  display:block;
  transition:0.3s;
}
.side-nav .btn-close{
  position:absolute;
  right:1px;
  top:-10px;
  font-size:66px;
  z-index: 4;
}
.buttonslide{
  padding: 10px;
  border-radius: 15px;
  color: var(--mint);
  background-color:var(--white);
  border-color: var(--mint);
  margin-left: 33%;
  z-index: 4;
}
.find{
  position: relative;
  margin-right: 20px;
  z-index: 4;
}
/* end for nav bar*/
/* scroll for desktop start */
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    z-index: 4;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: var(--white);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    z-index: 4;
  }
  
/* scroll for desktop end */
/* style for activities page content start*/

  #map {
    width: 100%;
    height: 600px;
    z-index: -1;
    position: absolute;
    top: 0px;

  }
/* style for activities page content end*/
  /*  mediaq for nav bar start*/
@media screen and (max-width: 700px) {
    .navbar ul {
      display:none;
    }
  }
  @media screen and (min-width: 701px) {
    .open-slide {
      display:none;
    }
  }
  /*  mediaq for nav bar end*/
  

  
  /*popup bottom overlay*/
  
  .overlaycontainer{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .open-btn{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 2.5rem;
    cursor: pointer;
  }
  .popup {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;

  }
  .popup-overlay{
    background-color: rgba(0, 0, 0, 0);
    height: 50vh;
    width: 100%;
    position: absolute;
  }
  .main-popup{
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 90%;
    z-index: 1;
    background: rgb(228, 228, 228);
    line-height: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 0px 0px;
  }
  .close-btn{
    padding: 10px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease all ;

}
.close-btn:hover{
  background: white;

}
.popup-content{
  text-align: center;
}
.popup-content p{
  font-size: 1.5rem;
  line-height: 1rem;

}
@keyframes slide-in {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes slide-out {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}

.btn-categories{
  padding: 5px 20px;
  margin: 20px;
  top: 0;
  border-radius: 50px;
  background-color: ;
  border: 3px solid #00BF6F;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: helvetica;

}
.imageframe{
  position: relative;
  width: 20vh;
  height: 12vh;
  top: 0;
  background-color:rgb(255, 255, 255);
  z-index: 100;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}
.contentframe{
  
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  

}